-------------------------------- criação do banco de dados
USE [master]
GO

CREATE DATABASE [enquete]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'enquete', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\enquete.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'enquete_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\enquete_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [enquete].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

-------------------------------- criação do login do usuário
CREATE LOGIN [enquete] WITH PASSWORD=N'enquete', DEFAULT_DATABASE=[enquete], DEFAULT_LANGUAGE=[Português], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO

--ALTER LOGIN [enquete] DISABLE
--GO

--ALTER LOGIN [enquete] ENABLE
--GO

ALTER LOGIN [enquete] WITH PASSWORD = 'enquete'
GO

-------------------------------- criação da estrutura
USE [enquete]
GO
/****** Object:  User [enquete]    Script Date: 12/08/2017 17:11:47 ******/
CREATE USER [enquete] FOR LOGIN [enquete] WITH DEFAULT_SCHEMA=[db_owner]
GO
ALTER ROLE [db_owner] ADD MEMBER [enquete]
GO
/****** Object:  Table [dbo].[option]    Script Date: 12/08/2017 17:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[option](
	[option_id] [smallint] IDENTITY(1,1) NOT NULL,
	[option_description] [varchar](50) NOT NULL,
	[poll_id] [bigint] NOT NULL,
	[qty] [smallint] NOT NULL,
 CONSTRAINT [PK_option] PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[poll]    Script Date: 12/08/2017 17:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[poll](
	[poll_id] [bigint] IDENTITY(1,1) NOT NULL,
	[poll_description] [varchar](50) NOT NULL,
	[views] [smallint] NOT NULL,
 CONSTRAINT [PK_poll] PRIMARY KEY CLUSTERED 
(
	[poll_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[option]  WITH CHECK ADD  CONSTRAINT [FK_option_poll] FOREIGN KEY([poll_id])
REFERENCES [dbo].[poll] ([poll_id])
GO
ALTER TABLE [dbo].[option] CHECK CONSTRAINT [FK_option_poll]
GO
