<connectionStrings>
  <add name="enqueteEntities" connectionString="metadata=res://*/EnqueteModel.csdl|res://*/EnqueteModel.ssdl|res://*/EnqueteModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-955H81D;initial catalog=enquete;user id=enquete;password=enquete;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>